<div>
    <app-menu></app-menu>
    <form>

        <table class="table table-sm table-borderless" >
            <tbody>
                <tr>
                    <th class="text-center"><h2>Login</h2></th>
                </tr>
                <tr>
                    <th>Username</th>
                </tr>
                <tr>
                    <th><input type="text" [(ngModel)]="username" name="username" autocomplete="username"/></th>
                </tr>
                <tr>
                    <th>Password</th>
                </tr>
                <tr>
                    <th><input type="password" [(ngModel)]="password" type="password" name="password" autocomplete="current-password" /></th>
                </tr>
                <tr>
                    <th>
                        <button (click)="login()" class="btn btn-sm btn-primary">Login</button>
                    </th>
                </tr>
                <tr>
                    <th class="message">
                        <span>{{ message}}</span>
                    </th>
                </tr>
            </tbody>
        </table>
    </form>
</div>