<div>
    <app-menu></app-menu>
    <h2>User View</h2>
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="user.id" disabled /></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input [(ngModel)]="user.username"  /></td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td><input [(ngModel)]="user.firstname"  /></td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td><input [(ngModel)]="user.lastname"  /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input [(ngModel)]="user.email"  /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input [(ngModel)]="user.phone"  /></td>
            </tr>
            <tr>
                <td>Reviewer?</td>
                <td>
                    <select [(ngModel)]="user.isReviewer">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Admin?</td>
                <td>
                    <select [(ngModel)]="user.isAdmin">
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="save()" class="btn btn-sm btn-primary">Save</button>
    </div>
</div>