<div>
    <app-menu></app-menu>
    <h2>User List</h2>
    <div>
        <a [routerLink]="['/user/create']" class="btn btn-sm btn-success">Create User</a>
    </div>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Reviewer?</th>
                <th>Admin?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (x of users; track x.id) {
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.username }}</td>
                    <td>{{ x.firstname }}</td>
                    <td>{{ x.lastname }}</td>
                    <td>{{ x.phone }}</td>
                    <td>{{ x.email }}</td>
                    <td>{{ x.isReviewer ? 'Yes' : 'No' }}</td>
                    <td>{{ x.isAdmin ? 'Yes' : 'No' }}</td>
                    <td>
                        <span><a [routerLink]="['/user/view', x.id]" class="btn btn-sm btn-primary">VIEW</a></span>
                        <span> | </span>
                        <span><a [routerLink]="['/user/edit', x.id]" class="btn btn-sm btn-warning">EDIT</a></span>
                    </td>
                </tr>
            }
            <!-- User data will be populated here -->
        </tbody>
    </table>
</div>