<div>
  <app-menu></app-menu>
  <h2>Request List</h2>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>RejectionReason</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ request.id }}</td>
        <td>{{ request.description }}</td>
        <td>{{ request.rejectionReason }}</td>
        <td>{{ request.status }}</td>
        <td>{{ request.total | currency }}</td>
        <td>{{ request.user!.username }}</td>
        <td>
          <span
            ><a (click)="review()" class="btn btn-sm btn-primary"
              >REVIEW</a
            ></span
          >
        </td>
      </tr>
      <!-- User data will be populated here -->
    </tbody>
  </table>
  <a [routerLink]="['/requestline/create/', request.id]" class="btn btn-sm btn-success">Create Requestline</a>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
      </tr>
    </thead>
    <tbody>
      @for (x of request.requestlines; track x.id) {
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.product.name }}</td>
        <td>{{ x.quantity }}</td>
        <td>{{ x.product.price | currency }}</td>
        <td>{{ x.product.price * x.quantity | currency }}</td>
        <td>
            <span><a (click)="edit(x.id)" class="btn btn-sm btn-warning">EDIT</a></span>
            <span> | </span>
            <span><a (click)="remove(x)" class="btn btn-sm btn-danger">REMOVE</a></span>
        </td>
      </tr>
    }
</tbody>
</table>
</div>
