<div>
    <app-menu></app-menu>
    <h2>User View</h2>
    <table class="table table-sm table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="user.id" disabled title="User Id" placeholder="Id" /></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input [(ngModel)]="user.username" disabled title="Username" placeholder="Username" /></td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td><input [(ngModel)]="user.firstname" disabled title="Firstname" placeholder="Firstname" /></td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td><input [(ngModel)]="user.lastname" disabled title="Lastname" placeholder="Lastname" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input [(ngModel)]="user.email" disabled title="Email" placeholder="Email" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input [(ngModel)]="user.phone" disabled title="Phone" placeholder="Phone" /></td>
            </tr>
            <tr>
                <td>Reviewer?</td>
                <td><input [(ngModel)]="user.isReviewer" disabled title="Reviewer" placeholder="Reviewer?" /></td>
            </tr>
            <tr>
                <td>Admin?</td>
                <td><input [(ngModel)]="user.isAdmin" disabled title="Admin" placeholder="Admin?" /></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-sm btn-danger" (click)="remove()">Delete</button>
    </div>
</div>